# Limpeza e Tratamento de Dados

In [1]:
import pandas as pd

In [2]:
dados = '../data/raw/airbnb-rio.csv'

In [3]:
df = pd.read_csv(dados, delimiter=',')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2302715,guilherme,11706874,Guilherme,NaN,Anil,-22.95221,-43.32944,Entire home/apt,2700.0,10,0,NaN,NaN,1,365,0,NaN
1,2304688,OLIMPÍADAS 2016,10405816,Eurico,NaN,Ipanema,-22.98767,-43.18991,Entire home/apt,837.0,7,0,NaN,NaN,1,365,0,NaN
2,2306547,Amplo Apto com 3 Dormitórios em Copacabana - 1...,4107346,Vera Lucia,NaN,Copacabana,-22.97333,-43.18857,Entire home/apt,800.0,5,13,2025-03-05,0.21,1,257,3,NaN
3,2306767,Studio in Copacabana Beach,11386725,Carolina,NaN,Copacabana,-22.96477,-43.17605,Entire home/apt,190.0,3,193,2025-03-03,1.44,6,66,19,NaN
4,2308385,Copacabana Ótima opção!,11788583,Ivan,NaN,Copacabana,-22.96820,-43.18523,Entire home/apt,220.0,2,28,2025-03-01,0.21,1,242,4,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42013 entries, 0 to 42012
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              42013 non-null  int64
 1   name                            42013 non-null  object
 2   host_id                         42013 non-null  int64
 3   host_name                       42008 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   42013 non-null  object
 6   latitude                        42013 non-null  float64
 7   longitude                       42013 non-null  float64
 8   room_type                       42013 non-null  object
 9   price                           38356 non-null  float64
 10  minimum_nights                  42013 non-null  int64
 11  number_of_reviews               42013 non-null  int64
 12  last_review                     33140 non-null  object
 13  reviews_per_month               33140 non-null  float64
 14  calculated_host_listings_count  42013 non-null  int64
 15  availability_365                42013 non-null  int64
 16  number_of_reviews_ltm           42013 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 5.8+ MB

In [5]:
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             5
neighbourhood_group               42013
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              3657
minimum_nights                        0
number_of_reviews                     0
last_review                        8873
reviews_per_month                  8873
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           42013
dtype: int64